<script src="/js/DeleteCheck.js"></script>
<div class="admin-title">
    <h2>
        <%= locals.title %>
    </h2>
    <a href="/add_blog" class="button">+ 새 게시물</a>
</div>

<ul class="admin-blogs">
    <% data.forEach(blog=> {
        const date = new Date(blog.createdAt);
        const formattedDate = date.toLocaleDateString('ko-KR', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        weekday: 'short'
        });
        const formattedTime = date.toLocaleTimeString('ko-KR', {
        hour: '2-digit',
        minute: '2-digit',
        second: '2-digit',
        hour12: false
        });
        %>
        <li>
            <div class="blog-content">
                <a href="/edit_blog/<%= blog._id %>">
                    <%= blog.title %>
                </a>
                <div class="blog-datetime">
                    <%= formattedDate %><%= formattedTime %>
                </div>
            </div>
            <div class="admin-blog-controls">
                <form action="/edit_blog/<%= blog._id %>" method="GET" style="display: inline;">
                    <button type="submit" class="btn btn-edit">편집</button>
                </form>
                <form action="/delete_blog/<%= blog._id %>?_method=DELETE" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-delete" onclick="return deleteConfirm('<%= blog._id %>', 'blog')">삭제</button>
                </form>
            </div>
        </li>
        <% }) %>
</ul>

<div class="pagination">
    <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>" class="page-link">&laquo; 이전</a>
    <% } %>
    
    <% for (let i = 1; i <= totalPages; i++) { %>
        <% if (i === currentPage) { %>
            <span class="page-link current"><%= i %></span>
        <% } else { %>
            <a href="?page=<%= i %>" class="page-link"><%= i %></a>
        <% } %>
    <% } %>
    
    <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>" class="page-link">다음 &raquo;</a>
    <% } %>
</div>