<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%-locals.title %> Gamasan</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/parts/header.css">
    <link rel="stylesheet" href="/css/parts/sidebar.css">
    <link rel="stylesheet" href="/css/parts/footer.css">
    <link rel="stylesheet" href="/css/parts/adbanner.css">
    <link rel="stylesheet" href="/css/parts/pagenation.css">
    <link rel="stylesheet" href="/css/page/program.css">
    <link rel="stylesheet" href="/css/page/mart.css">
    <link rel="stylesheet" href="/css/page/event.css">
    <link rel="stylesheet" href="/css/detail.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- adbanner adbanner adbanner adbanner  -->
            <%- include('../include/_adbanner') %>
                <!-- header header header header  -->
                <%- include('../include/_header', { member: locals.member || member }) %>
                <div class="main-content">
                        <!-- sidebar sidebar sidebar sidebar  -->
                        <%- include('../include/_sidebar') %>
                            <!-- product product product product  -->
                            <div class="content-wrapper">
                                <div class="detail-banner">
                                    <img src="/img/main-banner-2.png" alt="배너">
                                </div>
                                    <%- body %>
                                <!-- footer footer footer footer  -->
                                <%- include('../include/_footer') %>
                            </div>
                    </div>
        </div>
    </div>
</body>

</html>