<!-- views/include/_sidebar.ejs -->
<div class="sidebar">
    <h2><a href="/allArchive">Gamasan <br> Admin</a></h2>
    <ul>
        <li><a href="/allPrograms" class="<%= locals.title === 'Program' ? 'active' : '' %>">프로그램즈</a></li>
        <li><a href="/allBlogs" class="<%= locals.title === 'Blog' ? 'active' : '' %>">블로깅</a></li>
        <li><a href="/allArchive" class="<%= locals.title === 'archive' ? 'active' : '' %>">아카이빙</a></li>
        <li><a href="/allMart" class="<%= locals.title === 'Mart' ? 'active' : '' %>">가마산마트</a></li>
        <li><a href="/allEvent" class="<%= locals.title === 'Event' ? 'active' : '' %>">이벤트</a></li>
        <li><a href="/allNotices" class="<%= locals.title === 'Notice' ? 'active' : '' %>">공지사항</a></li>
        <li><a href="/allAbout" class="<%= locals.title === 'About' ? 'active' : '' %>">About</a></li>
        <li><a href="/allBanner" class="<%= locals.title === 'Banner' ? 'active' : '' %>">*Banner</a></li>
        <li><a href="/allMember" class="<%= locals.title === 'Member' ? 'active' : '' %>">*Member</a></li>
    </ul>
</div>