<div class="detail-container">
    <div class="detail-header">
        <h1 class="detail-title">
            <%= archive.title %>
        </h1>
        <% if (archive.category) { %>
            <span class="detail-category">
                <%= archive.category %>
            </span>
        <% } %>
        <span class="detail-date">
            <%= formatDate(archive.createdAt) %>
        </span>
    </div>
    
    
    <div class="detail-thumbnails-container">
        <% archive.thumbnails.forEach((thumbnail, index) => { %>
            <div class="detail-thumbnail-wrapper">
                <img src="<%= thumbnail %>" alt="<%= archive.title %> Thumbnail <%= index + 1 %>" class="detail-thumbnail">
            </div>
            <% }); %>
        </div>
        
        <div class="detail-script">
            <%- archive.script %>
        </div>

        <div class="detail-nav-buttons">
            <% if (previousArchive) { %>
                <a href="/archive/<%= previousArchive._id %>" class="detail-nav-button">이전글</a>
            <% } %>
            <a href="/archive" class="detail-nav-button">목록</a>
            <% if (nextArchive) { %>
                <a href="/archive/<%= nextArchive._id %>" class="detail-nav-button">다음글</a>
            <% } %>
        </div>
</div>

<%
function formatDate(dateString) {
  const date = new Date(dateString);
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const day = String(date.getDate()).padStart(2, '0');
  const hours = String(date.getHours()).padStart(2, '0');
  const minutes = String(date.getMinutes()).padStart(2, '0');
  return `${month}/${day} ${hours}:${minutes}`;
}
%>