<% function formatDate(date) { const d=new Date(date); const month=String(d.getMonth() + 1).padStart(2, '0' ); const
  day=String(d.getDate()).padStart(2, '0' ); const hours=String(d.getHours()).padStart(2, '0' ); const
  minutes=String(d.getMinutes()).padStart(2, '0' ); return `${month}/${day} ${hours}:${minutes}`; } %>

  <div class="home_index_row">

    <!-- 프로그래밍 게시판 -->
    <div class="home_index_board_container board3">
      <h2 class="home_index_board_title"><a href="/program">프로그램</a><a href="/program" class="home_more_info">더보기</a>
      </h2>
      <div class="home_index_board">
        <% programs.forEach(program=> { %>
          <a href="/program/<%= program._id %>" class="home_index_board_item_link">
            <div class="home_index_board_item">
              <div class="home_index_thumbnail" style="background-image: url('<%= program.thumbnail %>');"></div>
              <div class="home_index_board_content">
                <div class="home_index_title">
                  <%= program.title %>
                </div>
              </div>
            </div>
          </a>
          <% }); %>
      </div>
    </div>

    <!-- 오른쪽 열 게시판들 -->
    <div class="home_index_right_column">

      <!-- 아카이빙 게시판 -->
      <div class="home_index_board_container board1">
        <h2 class="home_index_board_title"><a href="/archive">아카이브</a><a href="/archive" class="home_more_info">더보기</a>
        </h2>
        <div class="home_index_board">
          <% archives.forEach(archive=> { %>
            <a href="/archive/<%= archive._id %>" class="home_index_board_item_link">
              <div class="home_index_board_item">
                <div class="home_index_thumbnail" style="background-image: url('<%= archive.thumbnails[0] %>');"></div>
                <div class="home_index_board_content">
                  <div class="home_index_title">
                    <%= archive.title %>
                  </div>
                </div>
              </div>
            </a>
            <% }); %>
        </div>
      </div>

      <!-- 마트 게시판 -->
      <div class="home_index_board_container board5">
        <h2 class="home_index_board_title"><a href="/mart">마트</a><a href="/mart" class="home_more_info">더보기</a>
        </h2>
        <div class="home_index_board">
          <% marts.forEach(mart=> { %>
            <a href="/mart/<%= mart._id %>" class="home_index_board_item_link">
              <div class="home_index_board_item">
                <div class="home_index_thumbnail" style="background-image: url('<%= mart.thumbnail1 %>');">
                </div>
                <div class="home_index_board_content">
                  <div class="home_index_title">
                    [<%= mart.brand %>] <%= mart.title %>
                  </div>
                </div>
              </div>
            </a>
            <% }); %>
        </div>
      </div>

    </div>
    
  </div>